{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Video caricati</title>
</head>

<body class="bg-warning">
    <div class="container" style="max-width: 550px;">
    <div class="card my-4">
            <div class="card-body">
            <h5>Utilizzo disco: {{ disk_usage_mb }}/512 Mb</h5>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ disk_usage }}%" aria-valuenow="{{ disk_usage }}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
        </div>
    </div>
    <div class="container" style="max-width: 550px;">
        <div class="card my-4">
            <div class="card-body">
                {% if documents %}
                <h5>Video caricati finora:</h5>
                <div class="list-group">
                    {% for document in documents %}
                    <a href="{{ document.docfile.url }}" class="list-group-item list-group-item-action">{{ document.filename }} ({{ document.docfile.size|filesizeformat }})</a>
                    {% comment %} <li class="list-group-item">{{ document.filename }}</li> {% endcomment %}
                    {% endfor %}
                </div>

                {% if download %}
                <a href="{{ download.docfile.url }}" class="btn btn-danger btn-lg active w-100 mt-3" role="button" aria-pressed="true" target="blank">Scarica tutti</a>
                {% endif %}

                {% else %}
                <h5>Nessun video caricato.</h5>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>